<div class="footer px-4 py-4">

    <div class="about">
        <h4 class="navbar-brand"><span>E</span> Store</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus aspernatur nulla corrupti voluptatum cumque officia atque, optio laudantium quasi deserunt perferendis consectetur id ut veniam quae sit officiis ipsam rem.</p>
        <h5 class="copyrights2">© 2024 EStore.</h5>
    </div>
    <div class="help">
        <h4>Help</h4>
        <div>
            <a href="#">Support</a> <br>
            <a href="#">License</a> <br>
            <a href="#">Terms of Service</a> <br>
            <a href="#">Privacy Policy</a> <br>
            <a href="#">Refunds</a> <br>
        </div>
    </div>
    <div class="contact">
        <h4>Contact Us</h4>
        <div>
            <span><i class="fa-solid fa-phone"></i> +94 758955630</span> <br>
            <span><i class="fa-solid fa-envelope"></i> info&#64;EStore.com</span> <br>
            <span><i class="fa-solid fa-location-dot"></i> Colombo 05, Sri Lanka</span> <br>
            <div class="social-icons">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
          
        </div>
    </div>
    <h5 class="copyrights">© 2024 EStore.</h5>
</div>
