
<div class="container my-4">
    <div class="d-flex justify-content-between">
        <h1>Notifications Available Soon</h1>
        <p class="markRead" style="color: orangered;">Mark as All Read</p>
    </div>
    

    <div class="messageList mt-3">
        <div class="card">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore iste culpa quam eligendi cupiditate nesciunt porro quaerat sed in consectetur? Alias voluptates quia quibusdam excepturi illo numquam eaque culpa cupiditate?</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    
</div>

