/* sign-in */
.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
}

form{
    min-width: 400px;
    padding: 20px;
    border: 1px solid #999999;
    border-radius: 10px;
}

input{
    margin: 4px 0 7px;
}

.fa-xmark{
    float: right;
    font-size: 30px;
}
.fa-xmark:hover{
    color: #E4A11B;
}
.btn-warning:hover{
    transform: scale(1.03);
}

.form-check{
    display: flex;
    align-items: center;
    gap: 10px;

}
.form-check input{
    height:15px;
    border-color: #999999;
}

@media screen and (max-width:450px) {

    form{
        min-width: 150px;
        margin: 20px;
    }
    .d-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .d-flex div{
        
        width: 100%;
    }
    
}