<div class="categories">
    <div class="list">

      <a (click)="filterProducts(phone)" class="item" >
        <div class="overflow"></div>
        <img src="../../../../assets/img/categories/Picsart_24-05-10_22-16-24-755.jpg" alt="">
        <p>Phones</p>
      </a>
      <a (click)="filterProducts(laptop)" class="item">
        <div class="overflow"></div>
        <img src="../../../../assets/img/categories/Picsart_24-05-10_22-19-53-194.jpg" alt="">
        <p>Laptops</p>
      </a>
      <a (click)="filterProducts(tv)" class="item">
        <div class="overflow"></div>
        <img src="../../../../assets/img/categories/Picsart_24-05-10_22-27-08-842.jpg" alt="">
        <p>TVs</p>
      </a>
      <a (click)="filterProducts(tablet)" class="item">
        <div class="overflow"></div>
        <img src="../../../../assets/img/categories/Picsart_24-05-10_22-28-47-076.jpg" alt="">
        <p>Tablets</p>
      </a>
      <a (click)="filterProducts(watch)" class="item">
        <div class="overflow"></div>
        <img src="../../../../assets/img/categories/Picsart_24-05-10_22-31-10-119.jpg" alt="">
        <p>Watches</p>
      </a>

    </div>
  </div>
